<h1>Pesquisa Operacional</h1>

<form [formGroup]="calculoForm" class="form mt-4">
  <!-- <form class="form mt-4"> -->
  <table class="tabela">
    <tr>
      <th></th>
      <th>Destino 1</th>
      <th>Destino 2</th>
      <th>Destino 3</th>
      <th>Destino 4</th>
    </tr>
    <tr>
      <th>Origem 1</th>
      <td>
        <input formControlName="11" class="form-control" type="number" id="11" required="required" pattern="[0-9]+$"
          placeholder="Digite um número">
        <small *ngIf="calculoForm.get('11').errors?.required" class="text-danger d-block mt-2">
          O número é obrigatório!
        </small>
      </td>
      <td>
        <input formControlName="12" class="form-control" type="number" id="12" required="required" pattern="[0-9]+$"
          placeholder="Digite um número">
        <small *ngIf="calculoForm.get('12').errors?.required" class="text-danger d-block mt-2">
          O número é obrigatório!
        </small>
      </td>
      <td>
        <input formControlName="13" class="form-control" type="number" id="13" required="required" pattern="[0-9]+$"
          placeholder="Digite um número">
        <small *ngIf="calculoForm.get('13').errors?.required" class="text-danger d-block mt-2">
          O número é obrigatório!
        </small>
      </td>
      <td>
        <input formControlName="14" class="form-control" type="number" id="14" required="required" pattern="[0-9]+$"
          placeholder="Digite um número">
        <small *ngIf="calculoForm.get('14').errors?.required" class="text-danger d-block mt-2">
          O número é obrigatório!
        </small>
      </td>
    </tr>
    <tr>
      <th>Origem 2</th>
      <td><input class="form-control" type="text" id="21"></td>
      <td><input class="form-control" type="text" id="22"></td>
      <td><input class="form-control" type="text" id="23"></td>
      <td><input class="form-control" type="text" id="24"></td>
    </tr>
    <tr>
      <th>Origem 3</th>
      <td><input class="form-control" type="text" id="31"></td>
      <td><input class="form-control" type="text" id="32"></td>
      <td><input class="form-control" type="text" id="33"></td>
      <td><input class="form-control" type="text" id="34"></td>
    </tr>
    <tr>
      <th>Origem 4</th>
      <td><input class="form-control" type="text" id="41"></td>
      <td><input class="form-control" type="text" id="42"></td>
      <td><input class="form-control" type="text" id="43"></td>
      <td><input class="form-control" type="text" id="44"></td>
    </tr>
  </table>

  <input [disabled]="calculoForm.invalid" class="botao btn btn-primary" type="submit" value="calcular">
</form>